body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 5px;
}

.card {
    width: 250px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 15px auto;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    background: #ddd;
}